{{- $root := . -}}
{{- range $key, $value := .Values.applications }}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ $key }}
  namespace: {{ $root.Release.Namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    {{- include "argocd.labels" $root  | nindent 4 }}
spec:
  project: {{ $value.project }}
  source:
    path: {{ $key }}
    repoURL: {{ $value.repoUrl | default $root.Values.defaultRepoUrl }}
    targetRevision: {{ $value.targetRevision | default $root.Values.defaultTargetRevision }}
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    namespace: {{ $value.namespace }}
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated:
      prune: true
      selfHeal: false
    syncOptions:
      - CreateNamespace=true

{{- end }}
